# dependencies
node_modules/
.pnp
.pnp.*

# next.js
.next/
out/
build/

# python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/

# env
.env
.env.local
.env.*.local

# misc
.DS_Store
*.log
npm-debug.log*

# typescript
*.tsbuildinfo
next-env.d.ts

# IDE
.vscode/
.idea/
